:root{
    --color-text: #fafafa;
    --color-nav-text: #fafafa;
}

header div .logo{
    position: absolute;
    width: 10rem;
    margin: .5rem;
}

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header div{
    background-color: orchid;
    height: 4.5rem;
}

header nav ul{
    text-align: center;
    font-size: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    background-color: orangered;
    padding: 1.4rem 5rem;
    font-size: 1.5rem;
    display: block;
}

nav ul li:last-child a{
    padding: 1.25rem 7rem;
}


nav ul li a img{
    vertical-align: -0.45rem;
    height: 2rem;
}

